<div class="table" [style.grid-template-columns]="gridTemplateStyle()">
    <ng-container *ngFor="let h of headers(); index as i">
        <div class="header" [class.last]="i == headers().length - 1">{{h}}</div>
    </ng-container>
    <ng-container *ngFor="let d of data">
        <ng-container *ngFor="let h of headers(); index as i">
            <ng-template #emptyCol>
                <div class="item" [class.last]="i == headers().length - 1"></div>
            </ng-template>
            <div *ngIf="d.hasOwnProperty(h); else emptyCol" class="item" [class.last]="i == headers().length - 1">{{d[h]}}</div>
        </ng-container>
    </ng-container>
</div>